<p id="notice"><%= notice %></p>

<h1>Guestlists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestlists.each do |guestlist| %>
      <tr>
        <td><%= guestlist.user_id %></td>
        <td><%= guestlist.event_id %></td>
        <td><%= link_to 'Show', guestlist %></td>
        <td><%= link_to 'Edit', edit_guestlist_path(guestlist) %></td>
        <td><%= link_to 'Destroy', guestlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guestlist', new_guestlist_path %>
